<md-toolbar color="primary" class="app-nav mat-elevation-z6">    
    <a md-button="" routerlink="/" href="/" class="mat-button">
        <span class="mat-button-wrapper title">Mega Summit</span>
        <div class="mat-button-ripple mat-ripple"></div>
        <div class="mat-button-focus-overlay"></div>
    </a>
    <a md-button="" routerlink="guides" href="/guides" class="mat-button">
        <span class="mat-button-wrapper">Guides</span>
        <div class="mat-button-ripple mat-ripple"></div>
        <div class="mat-button-focus-overlay"></div>
    </a>
</md-toolbar>