<div class="hero-image"></div>
<div class="hero-text">
    <p>#DARETODREAM</p>
    <p class="event-date">30th March, 2017</p>
</div>
<div class="what">
    <div class="what-text">
        <h2>What is Dr. AIT Mega Summit?</h2>
        <p>Dr.AIT Mega Summit '17 is a unique platform focusing on bringing up the culture of self dependence among the youngsters and encouraging the students through the highly inspiring speakers with their invigorating talks and mentorship. We are providing a platform for start-ups and many other entrepreneurial ventures to create a support for the student initiatives and create an ecosystem to foster entrepreneurial talent amongst the student community.</p>
    </div>
</div>
<div class="ambedkar">
    <div class="ambedkar-text">
        <h2>Men are mortal. So are ideas. An idea needs propagation as much as a plant needs watering. Otherwise both will wither and die.</h2>
        <h3>Dr. BR Ambedkar</h3>
    </div>
</div>
<div class="why">
    <div class="why-text">
        <h2>Why should you attend Dr. AIT Mega Summit?</h2>
        <p>Dr. AIT Megasummit is focused on bringing a wide range of speakers from various sectors and inspire the audience to give them valuable insights about challenges and inputs to face these challenges in a particular sector. An oppurtunity to see highly successful speakers in a single place is priceless.</p>
    </div>
</div>
<div class="chief">
    <h1>Chief Guests</h1>
    <div class="card-container">
        <md-card *ngFor="let chief of chiefs">
        <md-card-title>{{chief.name}}</md-card-title>
        <md-card-subtitle>{{chief.desc}}</md-card-subtitle>
        </md-card>
    </div>
</div>
<div class="find">
    <div class="find-text">
        <h2>Venue</h2>
        <h3>Dr. Ambedkar Institute of Technology</h3>
        <h4>Near Jnana Bharathi Campus, 2nd Stage, Nagarbhavi, Bengaluru, Karnataka 560056</h4>
        <a md-raised-button color="warn" href="https://goo.gl/maps/dA7BNs9Aais" target="_blank">DIRECTIONS</a>
    </div>
</div>
<div class="footer">
    <p>&copy; E - Cell, Dr. AIT. All rights reserved. 2017. Site by Harshal Bhatia.  </p>
</div>