.hero-image {
    position: relative;
    margin-top: 20px;
    height: 700px;
    background-image: url("../../assets/images/hero-image-min.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: black;
    filter: blur(5px);
    /*overflow: hidden;*/
}

.hero-text {
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 300px;
    // padding-left: auto;
    // padding-right: auto;
    display: block;
    text-align: center;
    z-index: 10;
    font-size: 52px;
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-weight: 100;
}

// .placeholder {
//   background-color: #f6f6f6;
//   background-size: cover;
//   background-repeat: no-repeat;
//   position: relative;
//   overflow: hidden;
// }

// .placeholder img {
//   position: absolute;
//   opacity: 0;
//   top: 0;
//   left: 0;
//   width: 100%;
//   transition: opacity 1s linear;
// }

// .placeholder img.loaded {
//   opacity: 1;
// }

// .img-small {
//   filter: blur(50px);
//   /* this is needed so Safari keeps sharp edges */
//   transform: scale(1);
// }